body {
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#weather-display {
  text-align: center;
  img {
    max-width: 200px;
  }
}